/* Add CSS Styling */
.odd {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sand-serif;
}
#no2 {
    color: blue;
    font-size: 36px;
}
#no4 {
    background-color: lightgreen;
    font-weight: 700;
}
.fontsize24px {
    font-size: 24px;
}