* {
  font-size: 16px;
}
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin-top: 16px;
  padding: 20px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 20x;
}

button {
  background: white;
  padding: 8px solid #eee 16px;
  display: block;
  margin: 0px auto
}